
 <% @order_items.each do |item| %>
    <div class="well">
      <div class="row">
        <div class="col-sm-8">
          <h3><%= item.product.name %></h3>
        </div>
      </div>
    </div>
  <% end %>
  <h3>Total:<%= @order.subtotal %></h3>
